{% extends 'main/layouts/base.html' %}

{% block content %}
    <div class="row mapAndDetails">
        <div class="col-lg-6">
            <div id="map" class="text-center">
                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1fbcKMSiydSqNPRTxySDOePfcM2wNdGIu" style="display: block; width: 100%; height: 100%"></iframe>
            </div>
        </div>
        <div class="accordion col-lg-6" id="accordionExample">
            <div class="card rounded">
                <div class="card-header" id="headingOne" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                aria-controls="collapseOne">
                    <h4 class="mb-0 text-center">Hospital Details</h4>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <p class="card-text">Our algorithm suggests that this hospital is the best choice for you.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Name: {{hospital.name}}</li>
                        <li class="list-group-item">Distance: {{distance}} </li>                        
                        <li class="list-group-item">Availability: {{hospital.available_beds}} </li>
                        <li class="list-group-item">Crowd: {{hospital.crowd}} </li>
                        <!-- <li class="list-group-item">Specialisation:{{dept}}</li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

